@import '../../../../../../styles/colors.scss';
@import '../../../../../../styles/text-colors.scss';

.blackCircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.dotsWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.dotsWrapper p span {
  font-size: 14px;
  font-weight: 600;
}

.barContainer {
  width: 100%;
  height: 260px;
}

.barContainer canvas {
  width: 100% !important;
  height: 100% !important;
  margin-left: -24px !important;
}

.container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.wrapper {
  padding: 0 0px 0 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.wrapper h1 {
  font-size: 24px;
  font-weight: 600;
  color: $primaryTextColor;
}
