@import '../../styles/text-colors.scss';
@import '../../styles/colors.scss';

.container {
  display: flex;
  width: 100%;
  padding: 16px 24px;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid $borderColor;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 10;
}

.infos {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  justify-content: flex-end;
}
