@import '../../../../styles/text-colors.scss';
@import '../../../../styles/colors.scss';

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f3f5;
  border-radius: 12px 12px 0 0;
  padding: 16px 24px;
}

.headline {
  color: $primaryTextColor;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.header img {
  cursor: pointer;
}

.container {
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons {
  display: flex;
  gap: 16px;
  justify-content: end;
}

.container span {
  color: $primaryTextColor;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
