@import '../../../styles/colors.scss';
@import '../../../styles/text-colors.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.upperContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.countryContainer {
  display: flex;
  gap: 24px;
}

.country {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

.country span {
  color: #707276;
  font-weight: 500;
  line-height: 24px;
}

.inputContainer span {
  color: #707276;
  font-weight: 500;
  line-height: 24px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.select {
  height: 44px;
}

.input {
  height: 48px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container h3 {
  color: $primaryTextColor;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin: unset;
}

.submit {
  background-color: $primaryColor;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  line-height: 24px;
  font-size: 16px;
  cursor: pointer;
}

.optionContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.optionContainer span {
  color: $primaryTextColor;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.input {
  padding: 11px 14px;
  border-radius: 8px;
  outline: none;
  border: 1px solid $borderColor;

  &:hover,
  &:focus,
  &:active,
  & {
    border: 1px solid $borderColor;
    box-shadow: none;
  }
}

.select {
  border-radius: 8px;
  outline: none;
  border: 1px solid $borderColor;
  &:hover {
    border: 1px solid $borderColor !important;
  }
}

.select :global(.ant-select-selector) {
  border: 1px solid $borderColor !important;
  box-shadow: none !important;
}

.select :global(.ant-select-focused .ant-select-selector) {
  border: 1px solid $borderColor !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

.customDropdown :global .ant-select-item-option {
  background-color: #f0f0f0 !important;
}
