@import '../../../../../styles/text-colors.scss';
@import '../../../../../styles/colors.scss';

.mainContainer {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  padding: 0 24px 24px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: #fff;
}

.headline {
  color: $primaryTextColor;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.container {
  padding: 20px 24px 24px 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.inputBase {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-right: 24px;
  width: 100%;
  max-width: 410px;
}

.input {
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid $borderColor;
  outline: none;
}

.inputHeadline {
  color: $primaryTextColor;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.inputContainer {
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid $borderColor ;
  width: 100%;
  max-width: 410px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.iconInput {
  width: 100%;
  border: none;
  height: 100%;
  outline: none;
}
.checkbox :global(.ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner) {
  border: none !important;
  width: 16px;
  height: 16px;
  background-color: #f0f3f5 !important;
}

.checkbox
  :global(.ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner) {
  background-color: black !important;
  border: none !important;
}

.checkbox
  :global(.ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner::after) {
  width: 5.1px !important;
  height: 10px !important;
}

.checkbox {
  display: flex;
  gap: 12px;
}

.check {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkText {
  color: $primaryTextColor;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.info {
  color: #707276;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
