@import '../../../styles/text-colors.scss';
@import '../../../styles/colors.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 24px 0 24px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container h1 {
  color: $primaryTextColor;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.users {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: center;
}

.userContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.userContainer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.userInfoWrapper {
  display: flex;
  flex-direction: column;
}

.userEmail {
  color: #707276;
  line-height: 24px;
}

.userName {
  color: $primaryTextColor;
  font-weight: 500;
  line-height: 24px;
}

.actionbuttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.actionbuttons img {
  cursor: pointer;
}
