@import '../../styles/text-colors.scss';
@import '../../styles/colors.scss';

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 12px 48px 24px;
}

.bottomContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.mainCaptionStyle {
  color: $primaryTextColor;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.topContainer {
  max-width: 1584px;
  width: 100%;
}
