@import '../../../../styles/text-colors.scss';
@import '../../../../styles/colors.scss';

.wrapper {
  flex: 1;
  border: 1px solid $borderColor;  border-radius: 12px;
}

.header {
  padding: 16px 24px;
  background-color: #f0f3f5;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.header p {
  color: $primaryTextColor;
  font-size: 20px;
  font-weight: 700;
}

.container p {
  color: #707276;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 567px;
  width: 100%;
  padding: 24px;
}

.button {
  max-width: 224px;
  width: 100%;
}
