.wrapper :global .ant-select-selector {
  text-align: left !important;
  padding-top: 8px;
  padding-bottom: 8px;
}

.wrapper :global .ant-select-selection-item {
  color: #11141a !important;
  font-weight: 500 !important;
}

.wrapper :global .ant-select {
  max-width: 139px !important;
  width: 100% !important;
}

.wrapper :global .ant-select .ant-select-selector {
  padding-left: 16px !important;
}

.wrapper :global(.ant-select .ant-select-arrow svg) {
  width: 12px;
  height: 9px;
}

.wrapper :global .ant-select {
  height: 40px;
}

.wrapper :global .ant-select:focus {
  border: unset !important;
}

.wrapper :global .ant-select .ant-select-selector:focus {
  border: unset !important;
}
