@import '../../../../../../../../../styles/colors.scss';
@import '../../../../../../../../../styles/text-colors.scss';

.secondStep {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.secondStepContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.secondStepContainer > span {
  color: $primaryTextColor;
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
}

.checkContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.check :global(.ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner) {
  border: none !important;
  width: 24px;
  height: 24px;
  border: 2px solid $borderColor !important;
}

.check
  :global(.ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner) {
  background-color: black !important;
  border: none !important;
}

.check :global(.ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner::after) {
  width: 7.1px !important;
  height: 12px !important;
}

.checkWrapper span {
  color: $primaryTextColor;
  font-size: 16px;
  line-height: 20px;
}

.types :global .ant-radio-inner::after {
  background-color: $primaryTextColor !important;
  width: 22px;
  height: 22px;
  margin-block-start: -11px;
  margin-inline-start: -11px;
}

.types :global .ant-radio-checked .ant-radio-inner {
  background-color: #fff !important;
  border-color: #707276 !important;
}

.types :global .ant-radio-wrapper {
  font-size: 16px;
  color: $primaryColor !important;
}

.types :global .ant-radio-wrapper:hover .ant-radio-inner {
  border-color: #707276 !important;
}

.radios {
  display: flex;
  flex-direction: column;
}

.nextBackup {
  color: #707276;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.buttons {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}
