@import '../../../../../styles/text-colors.scss';
@import '../../../../../styles/colors.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 24px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.wrapper h1 {
  color: $primaryTextColor;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.wrapper p {
  color: #707276;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
}

.container {
  display: flex;
  gap: 24px;
}

.tableWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tableContainer {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.headingSpan {
  color: #52c41a;
  font-size: 16px;
  line-height: 24px; 
}
