@import '../../../../styles/text-colors.scss';
@import '../../../../styles/colors.scss';

.wrapper {
  width: 100%;
  background-color: #f0f3f5;
}

.wrapper h1 {
  color: #181d27;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  padding: 16px 24px;
}
