@import '../../../../styles/text-colors.scss';
@import '../../../../styles/colors.scss';

.firstCheckboxCaptionStyle {
  color: #707276;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.firstChecksCaptionMain {
  color: #707276;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.firstChecksBottomContainer {
  display: flex;
  flex-direction: column;
  margin: 24px 0px;
}

.firstchecksContainerWrapper {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

.firstChecksFirstContairsWrapper {
  max-width: 774px;
  width: 100%;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 12px;
  border: 1px solid $borderColor;
}

.firstChecksFirstContairsWrapperCaption {
  color: $primaryTextColor;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.firstChecksDescriptionStyle {
  color: #707276;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.firstChecksSmallWrapper {
  display: flex;
  align-items: flex-start;
  gap: 17px;
}

.descriptionsWithoutIcons {
  color: #707276;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: 40px;
}
