@import '../../styles/text-colors.scss';
@import '../../styles/colors.scss';

.select {
  width: 100%;
  border: 1px solid $borderColor;  border-radius: 12px;
  padding: 12px;
  color: #b5b7bf;
}

.domainsPagePadding {
  padding: 15.5px 12px;
}