@import '../../../../styles/text-colors.scss';
@import '../../../../styles/colors.scss';

.wrapper {
  max-width: 666px;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border-bottom: 1px solid $borderColor;  background-color: #f0f3f5;
  overflow: hidden;
}

.container img {
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  padding: 12px 24px 24px 0;
}

.exampleContainer {
  max-width: 618px;
  width: 100%;
  height: 98px;
  background-color: #f0f3f5;
  border: 1px solid $borderColor;  border-radius: 12px;
}

.exampleWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.content {
  width: 152px;
  padding: 12px 0 14px 16px;
}

.content span {
  font-size: 12px;
  color: $primaryTextColor;
  font-weight: 500;
}

.exampleWrapper > span {
  color: $primaryTextColor;
  font-size: 14px;
  font-weight: 500;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $primaryColor;
  gap: 24px;
  padding: 12px 24px;
}

.innerContainer p {
  color: $primaryColor;
  font-size: 12px;
  font-weight: 400;
}

.textarea {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.textarea span {
  color: $primaryTextColor;
  font-size: 14px;
  font-weight: 500;
}

.textarea textarea {
  resize: none;
  width: 100%;
  height: 106px;
  border-radius: 12px;
  border: 1px solid $primaryColor;
  outline: none;
  padding: 12px;
  font-family: var(--font-DM-sans);
  font-size: 16px;
  color: $primaryColor;
}

.textarea textarea:focus {
  border: 1px solid $primaryColor;
}

.container p {
  color: $primaryTextColor;
  font-size: 16px;
  font-weight: 600;
}
