.notificationBell {
  width: 100%;
  max-width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dcdfe1;
  border-radius: 8px;
  cursor: pointer;
}

.notification {
  position: fixed;
  top: 105px;
  right: 25px;
}

.disabled {
  pointer-events: none;
}
