.wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid hsl(204, 8%, 87%);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 541px;
  position: relative;
}

.container {
  width: 100%;
  padding: 24px 12px 24px 0;
}

.visitsContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 24px;
}

.visitsWrap {
  display: flex;
  flex-direction: column;
}

.visits {
  color: #11141a;
  font-size: 24px;
  font-weight: 600;
}

.textContent {
  color: #707276;
  font-weight: 400;
}

.quantify {
  color: #11141a;
  font-size: 32px;
  font-weight: 600;
}

.line {
  position: absolute;
  left: 0;
  bottom: -30px;
  height: 331px;
}

.line {
  position: relative;
  width: 100%;
  height: 331px;
}

.line canvas {
  width: 100% !important;
  height: 100% !important;
}
