@import '../../../../styles/text-colors.scss';
@import '../../../../styles/colors.scss';

.wrapper {
  cursor: pointer;
  padding: 2px;
  border-radius: 8px;
}

.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container img {
  cursor: pointer;
}

.image {
  border-radius: 50%;
}

.text {
  color: $primaryTextColor;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.name {
  text-wrap: nowrap;
}

.logout {
  position: fixed;
  right: 24px;
  top: 100px;
}
