@import '../../styles/text-colors.scss';
@import '../../styles/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 24px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 100%;
  max-width: 614px;
}

.headline {
  color: $primaryTextColor;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.text {
  overflow: hidden;
  color: #707276;
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.cardWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
