@import '../../../../../../styles/colors.scss';
@import '../../../../../../styles/text-colors.scss';

.mainWrapper > span {
  display: block;
  margin-top: 24px;
  color: $secondaryTextColor;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
