@import '../../../styles/text-colors.scss';
@import '../../../styles/colors.scss';

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrapper {
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
