.tableWrapper :global .ant-table-thead .ant-table-cell {
  background-color: white !important;
}

.tableWrapper :global .ant-table-thead .ant-table-cell {
  border-bottom: none !important;
  color: #11141a !important;
  font-weight: 600 !important;
}

.tableWrapper :global .ant-table-tbody .ant-table-row .ant-table-cell {
  border-bottom: none !important;
  color: #11141a !important;
  font-weight: 600 !important;
}

.tableWrapper :global .ant-table-thead .ant-table-cell::before {
  display: none !important;
}

.tableWrapper
  :global
  .ant-table-tbody
  .ant-table-row:hover
  .ant-table-cell-row-hover {
  background-color: #f0f3f5 !important;
}

.heading {
  color: #11141a;
  font-size: 24px;
  font-weight: 600;
}

.textContent {
  color: #707276;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
