.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reloadWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.reloadWrap span {
  color: #00000099;
  font-size: 14px;
  font-weight: 400;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrapper {
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
