@import '../../../../../../../styles/text-colors.scss';
@import '../../../../../../../styles/colors.scss';

.wrapper {
  max-width: 840px;
  background-color: #fff;
  border-radius: 12px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f3f5;
  border-radius: 12px 12px 0 0;
  padding: 16px 24px;
}

.header img {
  cursor: pointer;
}

.headline {
  color: $primaryTextColor;
  font-weight: 600;
  line-height: 24px;
}

.heading {
  color: $primaryTextColor;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.subscription p {
  color: #545a67;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.subscription {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 24px;
}

.priceBox {
  border: 1px solid $borderColor;  padding: 16px 24px;
  border-radius: 12px;
}

.headerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0 24px 0;
  border-bottom: 1px solid $borderColor;}

.backups {
  color: #545a67;
  font-size: 14px;
  font-weight: 500;
}

.price {
  color: $primaryTextColor;
  font-weight: 600;
  line-height: 24px;
}

.bodyBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 20px;
}

.paymentContainer {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $borderColor;}

.paymentCardName {
  color: $primaryTextColor;
  font-size: 14px;
  font-weight: 500;
}

.content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.paymentWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.description {
  display: flex;
  flex-direction: column;
}

.description span {
  color: #545a67;
  font-size: 12px;
  font-weight: 500;
}

.buttons {
  display: flex;
  gap: 16px;
  align-self: flex-end;
}
