@import '../../styles/text-colors.scss';
@import '../../styles/colors.scss';

.buttonStyle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
}

.buttonWrapper :global .ant-btn {
  padding: 24px 16px !important;
}

.innerContentBlack {
  color: $primaryTextColor;
}

.innerContentWhite {
  color: #fff;
}

.backgroundGreyBoldColor {
  background-color: #f0f3f5;
  border-radius: 8px;
  border: 1px solid $borderColor;
  font-weight: 600;
}

.backgroundGreyBoldColor:hover {
  background-color: #c3c5c7 !important;
  border: 1px solid $borderColor !important;
  font-weight: 600 !important;
  color: $primaryTextColor !important;
}

.backgroundGreyBoldColor:hover {
  background-color: #dfe0e1;
  border-radius: 8px;
  border: 1px solid $borderColor;
  font-weight: 600;
}

.backgroundGreyColor {
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid $borderColor;
  color: $primaryTextColor;
  font-weight: 500;
}

.backgroundGreyColor:hover {
  background-color: #f6f6f6 !important;
  border: 1px solid $borderColor !important;
  color: $primaryTextColor !important;
  font-weight: 500 !important;
}

.backgroundBlackColor {
  background-color: $primaryColor;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  border: 1px solid $primaryColor !important;
}

.backgroundBlackColor:hover {
  background-color: #313030 !important;
  color: #fff !important;
  border: 1px solid #313030 !important;
}

.backgroundRedColor {
  background-color: #ff0003;
  border: none;
  color: #fff;
  border-radius: 8px;
  font-weight: 500;
}

.backgroundRedColor:hover {
  background-color: #dc0509 !important;
  border: none !important;
  color: #fff !important;
}

.backgroundDomainsRed {
  background-color: #ff0003;
  border: none;
  color: #fff;
  border-radius: 8px;
}

.backgroundWhiteColor {
  background-color: #fff;
  border-radius: 8px;
  color: $primaryTextColor;
  border: 1px solid $borderColor;
  font-weight: 500;
}

.backgroundWhiteLightColor {
  color: #707276;
  font-size: 16px;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid $borderColor;
  padding: 12px 16px;
  border-radius: 8px;
  font-weight: 500;
}

.backgroundWhiteLightColor:hover {
  background-color: #f6f6f6 !important;
  border: 1px solid $borderColor !important;
  color: #707276 !important;
}

.disabledButton {
  cursor: not-allowed;
  background-color: #f4f5f6;
  color: #545a67 !important;
  border: 1px solid $borderColor !important;
  font-weight: 500;
}

.disabledButton:hover {
  cursor: not-allowed;
  background-color: #f4f5f6 !important;
  color: #545a67 !important;
  border: 1px solid $borderColor !important;
}

.active {
  border: 1px solid black;
  color: $primaryColor;
}
