.topContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 16px 24px 20px 24px;
}

.dashboardCaptionStyle {
  color: #11141a;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.captionAndButtonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboardStatsWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 19px;
}

.wordpressCaptionStyle {
  color: #11141a;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.bottomContner {
  display: flex;
  margin: 20px 24px 0px 24px;
  flex-direction: column;
  gap: 12px;
}

.wordpressStatsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  margin-bottom: 24px;
}
