.container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 24px 48px 24px;
}

.containerWrapper {
  display: flex;
  gap: 24px;
  padding-top: 20px;
}

.clientContainer {
  flex: 1;
}
