@import '../../styles/text-colors.scss';
@import '../../styles/colors.scss';

.containerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 375px;
  width: 100%;
  height: 296px;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid $borderColor;  background: #fff;
}

.topContainer {
  width: 100%;
  max-width: 327px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mainCaptionViewAnalyticsDateWrapper {
  display: flex;
  justify-content: space-between;
}

.mainCaption {
  color: $primaryTextColor;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.viewAnalyticsStyle {
  display: flex;
  align-items: center;
  color: #707276;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
}

.dateStyle {
  color: rgba(17, 20, 26, 0.8);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.bottomContainer {
  width: 100%;
  max-width: 327px;
  display: flex;
  gap: 24px;
  justify-content: flex-end;
}

.progressBarWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dateAndDiskWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.dateWrapper {
  display: flex;
  width: 100%;
  max-width: 140px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.monthStyle {
  color: $primaryTextColor;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.redPointAndDayQuantityWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 140px;
  width: 100%;
}

.dayStyle {
  color: rgba(17, 20, 26, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  width: 100%;
}

.diskWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.diskCaptionStyle {
  color: #11141a;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.bluePointAndMbQuantityWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mbStyle {
  color: rgba(17, 20, 26, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.mainMbQuantity {
  color: $primaryTextColor;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

@media screen and (max-width: 271px) and (min-width: 1px) {
  .dayStyle {
    font-size: 7px;
  }

  .mbStyle {
    font-size: 7px;
  }

  .monthStyle {
    font-size: 7px;
  }

  .diskCaptionStyle {
    font-size: 7px;
  }

  .redPointStyle {
    width: 8px;
    height: 8px;
  }

  .bluePointStyle {
    width: 8px;
    height: 8px;
  }

  .redProgressBar {
    width: 100px;
    height: 50px;
  }
}
