.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 24px 0 24px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container h1 {
  color: #11141A;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}