@import '../../../../styles/colors.scss';
@import '../../../../styles/text-colors.scss';

.mainWrapper {
  display: flex;
  flex-direction: column;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: rgb(237, 237, 237);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.header {
  width: 100%;
  display: flex;
  background-color: #f0f3f5;
  padding: 16px 24px;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px 12px 0 0;
  border-bottom: 1px solid $borderColor;
}

.header img {
  cursor: pointer;
}

.headline {
  color: $primaryTextColor;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.radioWrapperAndCaption {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.radioWrapper :global .ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border-color: $primaryColor !important;
  background-color: #fff;
}

.radioSpan {
  border-color: $primaryColor !important;
  font-weight: 600 !important;
}

.radioWrapper :global .ant-radio-wrapper:hover .ant-radio-inner {
  border-color: $primaryColor !important;
}

.radioWrapper :global .ant-radio-inner::after {
  background-color: $primaryColor !important;
  border-color: $primaryColor !important;
  width: 20px;
  height: 20px;
  margin-block-start: -10px;
  margin-inline: -10px;
}

.radioWrapper :global .ant-radio-checked::after {
  background-color: $primaryColor !important;
}

.radioWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.bottomContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px 24px;
  background-color: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.buttonsWrapper {
  display: flex;
  gap: 16px;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  gap: 9px;
  background-color: white;
  padding: 12px 24px;
}

.middleContainersCaption {
  color: $primaryColor;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.radioWrapperAndCaption {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.radioWrapper {
  display: flex;
  gap: 12px;
}

.radiosLabelStyle {
  color: $primaryColor;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.exitButtonWrapper {
  width: 24px;
  height: 24px;
  border: 1px solid $borderColor;
  background-color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
