@import '../../../styles/text-colors.scss';
@import '../../../styles/colors.scss';

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid $borderColor;
  border-radius: 12px;
}

.header {
  width: 100%;
  display: flex;
  background-color: #f0f3f5;
  padding: 16px 24px;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px 12px 0 0;
  border-bottom: 1px solid $borderColor;
}

.headline {
  color: $primaryTextColor;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16p 24px 24px 24px;
}

.text {
  overflow: hidden;
  color: #707276;
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.head {
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 100%;
  max-width: 662px;
}

.tableWrapper :global(.ant-table-thead th:last-child) {
  text-align: right;
  padding-right: 90px !important;
}

.tableWrapper :global(.ant-table-tbody td:last-child) {
  text-align: right;
}
.tableWrapper :global(.ant-select-selection-item) {
  font-size: 16px;
  padding-left: 6px !important;
}

.tableWrapper {
  padding-top: 8px;
}

.tableWrapper :global .ant-table th {
  background: #fff !important;
}

.tableWrapper :global .ant-table-cell::before {
  content: none !important;
}

.tableWrapper :global .ant-table-cell {
  padding-left: 4px !important;
  color: $primaryTextColor !important;
  font-weight: 500 !important;
}

.tableWrapper :global .ant-table-thead .ant-table-cell {
  color: $primaryTextColor !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  padding-left: 20px !important;
}

.tableWrapper :global .ant-table-selection-column {
  padding-left: 24px !important;
}

.tableWrapper {
  background-color: #fff;
}

.tableWrapper :global .ant-table-container {
  border: 1px solid $borderColor;
  border-radius: 12px;
  overflow: hidden;
}

.tableWrapper :global .ant-table-row .ant-table-cell {
  padding-left: 24px !important;
  padding-right: 64px;
}

.tableWrapper
  :global
  .ant-table-wrapper
  .ant-table-tbody
  .ant-table-row.ant-table-row-selected
  > .ant-table-cell {
  background-color: #f0f3f5 !important;
}

.tableWrapper :global .ant-table-container {
  border: none !important;
}

.tableWrapper :global .ant-table-tbody > tr > .ant-table-cell {
  border: none !important;
}

.tableWrapper {
  width: 100%;
}

.container {
  padding: 20px 0;
}
