@import '../../../../../../../../styles/text-colors.scss';
@import '../../../../../../../../styles/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  align-items: center;
  max-width: 840px;
  background-color: #fff;
  padding: 0 50px 40px 50px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  align-items: center;
}

.headline {
  width: 100%;
  color: $primaryTextColor;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.text {
  width: 100%;
  color: $primaryTextColor;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.subtext {
  width: 100%;
  color: $primaryTextColor;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.customIcon {
  color: $primaryColor;
}
