@import '../../../../../../styles/text-colors.scss';
@import '../../../../../../styles/colors.scss';

.tableWrapper :global .ant-table-thead .ant-table-cell {
  background-color: white !important;
}

.tableWrapper :global .ant-table-thead .ant-table-cell {
  border-bottom: none !important;
  color: $primaryTextColor !important;
  font-weight: 600 !important;
}

.tableWrapper :global .ant-table-tbody .ant-table-row .ant-table-cell {
  color: $primaryTextColor !important;
  font-weight: 600 !important;
}

.tableWrapper :global .ant-table-thead .ant-table-cell::before {
  display: none !important;
}

.tableWrapper
  :global
  .ant-table-tbody
  .ant-table-row:hover
  .ant-table-cell-row-hover {
  background-color: #f0f3f5 !important;
}

.heading {
  color: $primaryTextColor;
  font-size: 24px;
  font-weight: 600;
}

.wrapper {
  border: 1px solid $borderColor;  border-radius: 12px;
  flex: 1;
  padding: 24px 0 24px 24px;
}
