@import '../../../../styles/text-colors.scss';
@import '../../../../styles/colors.scss';

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid $borderColor;
  border-radius: 12px;
}

.headline {
  color: $primaryTextColor;
  font-weight: 600;
  line-height: 24px;
  font-size: 16px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.steper span {
  color: $primaryTextColor;
}

.steper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  max-width: 400px;
  width: 100%;
}

.steper {
  cursor: pointer;

  &.activeStep {
    color: black;
  }

  &.inactiveStep {
    color: gray;
  }

  .circle {
    &.activeCircle {
      background-color: black;
    }

    &.inactiveCircle {
      background-color: gray;
    }
  }

  .line {
    &.activeLine {
      background-color: black;
    }

    &.inactiveLine {
      background-color: gray;
    }
  }
}

.line {
  width: 100%;
  border-radius: 12px;
  height: 5px;
  background-color: $primaryTextColor;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $primaryTextColor;
}

.progress {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.grayCircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $borderColor;
}

.lineCircle {
  width: 100%;
  border-radius: 12px;
  height: 5px;
  background-color: $borderColor;
}

.spansWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.spansContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.labels {
  color: $primaryTextColor;
  font-weight: 500;
  line-height: 20px;
  font-size: 16px;
}

.select {
  width: 100%;
  height: 48px;
  border-radius: 12px;
  outline: none;
}

.select :global(.ant-select-selector) {
  border: 1px solid $borderColor !important;
  box-shadow: none !important;
  border-radius: 12px !important;
}

.spansWrapper input {
  outline: none;
  border: 1px solid $borderColor;
  height: 44px;
  border-radius: 12px;
  padding: 0 12px;
}

.addContainer input {
  outline: none;
  border: 1px solid $borderColor;
  height: 44px;
  border-radius: 12px;
  flex: 1;
}

.unique {
  color: #707276;
  font-size: 14px;
  line-height: 20px;
}

.buttons {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.steperOneWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wholeWrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.apiWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 24px;
  width: 100%;
}

.apiContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.addContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.datePicker :global(.ant-picker) {
  border: 1px solid $borderColor !important;
  box-shadow: none !important;
  border-radius: 12px !important;
  width: 100%;
  height: 48px;
}

.datePicker :global(.ant-picker) {
  box-shadow: none !important;
}

.dateSelect {
  height: 48px;
  border-radius: 12px;
}

.apiKey {
  color: $primaryTextColor;
  font-weight: 500;
  line-height: 20px;
  font-size: 16px;
}

.copy {
  font-size: 14px;
  color: #707276;
  line-height: 20px;
}

.copyContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyContainer span {
  color: $primaryColor;
  font-size: 14px;
  line-height: 20px;
}

.copyContainer img {
  cursor: pointer;
}
