.mainContainer {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  padding: 0 24px 24px 0;
  background-color: #fff;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #dcdfe1;
  border-radius: 12px;
  background-color: #fff;
  max-width: 1213px;
}

.header {
  width: 100%;
  display: flex;
  background-color: #f0f3f5;
  padding: 16px 24px;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px 12px 0 0;
  border-bottom: 1px solid #dcdfe1;
}

.headline {
  color: #11141a;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.container {
  padding: 16px 24px 24px 24px;
  background-color: #fff;
}

.stepsModal {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #dcdfe1;
  border-radius: 12px;
  max-width: 840px;
}

.close {
  cursor: pointer;
}

.noneFooter {
  display: none;
  padding-bottom: 40px;
}
