@import '../../styles/text-colors.scss';
@import '../../styles/colors.scss';

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.iconsWrapper {
  max-width: 134px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttonStyle {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid $borderColor;
  background-color: white;
  color: #545a67;
  font-size: 12px;
  cursor: pointer;
}

.tableWrapper {
  margin: 0px 24px;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid $borderColor;
}

.checkboxStyle {
  width: 20px;
  height: 20px;
}

.imageIconStyle {
  cursor: pointer;
}

.userImageStylr {
  border-radius: 50%;
  margin-left: 20px;
}

.checkboxAndUserWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  background-color: transparent !important;
}

.tableWrapper :global .ant-table-thead .ant-table-cell::before {
  display: none !important;
}

.tableWrapper :global .ant-table-thead .ant-table-cell {
  background-color: white !important;
  color: #414651 !important;
  font-size: 16px !important;
}

.tableWrapper :global .ant-table-tbody .ant-table-row .ant-table-cell {
  color: #414651 !important;
  font-size: 14px !important;
}

.tableWrapper :global .ant-checkbox-indeterminate::after {
  background-color: transparent;
}

.tableWrapper :global .ant-checkbox-wrapper .ant-checkbox-indeterminate {
  background-color: #f0f3f5 !important;
}

.tableWrapper
  :global
  .ant-table-thead
  tr
  .ant-table-cell
  .ant-table-selection
  .ant-checkbox-wrapper
  .ant-checkbox-indeterminate
  .ant-checkbox-inner {
  background-color: #f0f3f5 !important;
}

.tableWrapper
  :global
  .ant-table-row:hover
  .ant-table-cell
  .ant-checkbox-wrapper
  .ant-checkbox-checked
  .ant-checkbox-inner {
  background-color: black !important;
  border: none !important;
}

.tableWrapper
  :global
  .ant-table-row
  .ant-checkbox-wrapper:active:hover
  .ant-checkbox-inner {
  background-color: black !important;
  border: none !important;
}
.tableWrapper :global .ant-checkbox-inner {
  background-color: #f0f3f5;
  border: none !important;
  width: 24px;
  height: 24px;
}

.tableWrapper :global .ant-checkbox-checked .ant-checkbox-inner {
  background-color: black;
  border: none !important;
}

.tableWrapper :global .ant-checkbox-inner::after {
  width: 7.1px !important;
  height: 12px !important;
}
