@import '../../../../styles/colors.scss';
@import '../../../../styles/text-colors.scss';

.mainWrapper {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  background-color: #f0f3f5;
  padding: 16px 24px;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px 12px 0 0;
  border-bottom: 1px solid $borderColor;
}

.header img {
  cursor: pointer;
}

.headline {
  color: $primaryTextColor;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.bottomContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px 24px;
  background-color: white;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  padding: 16px 24px 24px;
  background-color: white;
}

.checkboxAndCaptionWrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.checkboxWrapper
  :global(.ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner) {
  width: 24px;
  height: 24px;
  background-color: #f0f3f5;
  border: none;
}

.checkboxWrapper
  :global(.ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner) {
  background-color: $primaryColor;
  border: 1px solid $primaryColor;
}

.checkboxWrapper
  :global(
    .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner
  ) {
  background-color: $primaryTextColor !important;
}

.checkboxWrapper
  :global(
    .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner::after
  ) {
  width: 6px;
  height: 11px;
}

.buttonsWrapper {
  display: flex;
  gap: 16px;
}

.buttonWrapper {
  max-width: 157px;
  width: 100%;
  padding: 8px 16px;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $borderColor;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
}

.buttonsInnerContentStyle {
  color: $primaryColor;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.manageStyle {
  margin-top: 24px;
  color: #6c6e72;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.mainCaptionStyle {
  color: $primaryTextColor;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
