.wrapper {
  display: flex;
  flex-direction: column;
}

.banner {
  width: 100%;
  max-width: 900px;
  overflow: hidden;
}

.banner img {
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
}

.container {
  flex: 1;
}

.buttonInner {
  color: #11141a;
  font-weight: 600;
  line-height: 24px;
}

.passport {
  border: 1px solid #dcdfe1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 0;
  max-width: 234;
  width: 100%;
  border-radius: 8px;
}

.topContainer {
  display: flex;
  flex-direction: column;
}

.passportWrapper {
  display: flex;
  gap: 24px;
  width: 100%;
  cursor: pointer;
}

.hostingWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 12px;
  max-width: 540px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #dcdfe1;
  padding: 24px;
  background-color: #fff;
  justify-self: center;
  margin-top: 60px;
  min-height: 627px;
}

.heading {
  align-self: center;
}

.heading p {
  color: #11141a;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
}

.heading h2 {
  text-align: center;
}

.graycircle {
  width: 48px;
  height: 48px;
  border-radius: 52px;
  background: #dcdfe1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blackcircle {
  width: 48px;
  height: 48px;
  border-radius: 52px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigate {
  width: 117px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.navigationSpan {
  text-overflow: ellipsis;
  text-wrap: nowrap;
  color: #abb0ba;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.boldNavigationSpan {
  text-overflow: ellipsis;
  text-wrap: nowrap;
  color: #11141a;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.navigation {
  display: flex;
  align-items: center;
}

.lightcircle {
  background-color: #f5f5f5;
  width: 48px;
  height: 48px;
  border-radius: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputWrapperContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login {
  color: #11141a;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.loginContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navigationBoldSpan {
  text-overflow: ellipsis;
  text-wrap: nowrap;
  color: #545a67;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
