@import '../../../../../../../styles/text-colors.scss';
@import '../../../../../../../styles/colors.scss';


.headline {
  color: $primaryTextColor;
  font-weight: 600;
  line-height: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 24px;
}

.container input {
  height: 41px;
  outline: none;
  border-radius: 12px;
  border: 1px solid $borderColor;
  padding: 0 12px;
}

.container span {
  color: #545a67;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px; 
}

.buttons {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  padding: 16px 24px;
}
