@import '../../../../../../../../styles/colors.scss';
@import '../../../../../../../../styles/text-colors.scss';

.mainWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 8px;
}

.mainCaptionStyle {
  color: #545a67;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.checkboxWrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}

.checkboxWrapper {
  width: fit-content;
}

.checkboxWrapper
  :global(.ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner) {
  width: 24px;
  height: 24px;
  background-color: #f0f3f5;
  border: none;
}

.checkboxWrapper
  :global(.ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner) {
  background-color: $primaryColor;
  border: 1px solid $primaryColor;
}

.checkboxWrapper
  :global(
    .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner
  ) {
  background-color: $primaryTextColor !important;
}

.checkboxWrapper
  :global(
    .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner::after
  ) {
  width: 6px;
  height: 12px;
}

.inputLabel {
  color: $primaryTextColor;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.checkboxLabelStyle {
  color: $primaryTextColor;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.inputAndCaptionWrapper {
  width: 100%;
  display: flex;
  gap: 24px;
}

.usernameWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  max-width: 750px;
  width: 100%;
}

.passwordWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  max-width: 750px;
  width: 100%;
}

.usernameInputStyle {
  max-width: 750px;
  width: 100%;
  height: 44px;
  border-radius: 12px;
  border: 1px solid $borderColor;
  padding-left: 10px;
}

.passwordInputStyle {
  max-width: 750px;
  width: 100%;
  height: 44px;
  border-radius: 12px;
  border: 1px solid $borderColor;
  padding-left: 10px;
}
