@import '../../styles/text-colors.scss';
@import '../../styles/colors.scss';

.container {
  width: 100%;
  padding: 24px 24px 87px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.headline {
  color: $primaryTextColor;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
