@import '../../../../styles/text-colors.scss';
@import '../../../../styles/colors.scss';

.container :global .ant-table {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1575px;
}

.userCell {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.container :global .ant-table-cell {
  color: $primaryTextColor !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
}

.container :global .ant-table-thead tr .ant-table-cell {
  color: #707276 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  background-color: #fff !important;
}

.container :global .ant-table-row .ant-table-cell {
  padding-left: 20px !important;
}

.username {
  color: $primaryTextColor;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.container :global .ant-table-cell::before {
  border: none !important;
}

.container {
  border-radius: 12px;
  border: 1px solid $borderColor;  
  padding: 8px 0;
}

.container
  :global
  .ant-table-wrapper
  .ant-table-tbody
  > .ant-table-row:last-child
  > .ant-table-cell {
  border-bottom: none !important;
}

.container
  :global
  .ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  display: none;
}
