@import '../../../../../styles/colors.scss';
@import '../../../../../styles/text-colors.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 24px;
}

.buttons {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  border-top: 1px solid $borderColor;
  padding: 16px 24px;
}

.disabledRadios {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.6;
  color: #adb4b8 !important;
}

.disabledRadios :global .ant-radio-wrapper {
  cursor: not-allowed !important;
  color: #adb4b8 !important;
}

.disabledRadios :global .ant-radio-checked .ant-radio-inner {
  background-color: #adb4b8 !important;
  border-color: #adb4b8 !important;
}

.disabledRadios :global .ant-radio-inner {
  border-color: #adb4b8 !important;
}

.disabledRadios :global .ant-radio-wrapper:hover .ant-radio-inner {
  border-color: #adb4b8 !important;
}

.types {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.types :global .ant-radio-inner::after {
  background-color: $primaryTextColor !important;
  width: 24px;
  height: 24px;
  margin-block-start: -12px;
  margin-inline-start: -12px;
}

.types :global .ant-radio-checked .ant-radio-inner {
  background-color: #fff !important;
  border-color: #707276 !important;
}

.types :global .ant-radio-wrapper:hover .ant-radio-inner {
  border-color: #707276 !important;
}

.types :global .ant-radio-wrapper {
  align-self: flex-start;
  padding-top: 3px;
}

.radios {
  display: flex;
  flex-direction: column;
  color: $primaryTextColor;
  font-weight: 500;
}

.select {
  height: 44px;
  max-width: 258px;
  width: 100%;
  border-radius: 12px;
  outline: none;
  justify-self: flex-start;
}

.select :global(.ant-select-selector) {
  border: 1px solid $borderColor !important;
  box-shadow: none !important;
  border-radius: 12px !important;
}

.containerHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.containerHeader span {
  color: $primaryTextColor;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.containerHeader p {
  color: #707276;
  font-size: 16px;
}

.versions {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: $primaryTextColor !important;
}

.containerContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content > span {
  color: $primaryTextColor;
  font-weight: 600;
  font-size: 16px;
}

.content p {
  color: #707276;
  font-size: 14px;
  font-weight: 400;
}

.ltsContainer {
  border: 1px solid $borderColor;
  border-radius: 12px;
  color: #707276;
  font-size: 14px;
  line-height: 24px;
  padding: 0 12px;
}

.optionContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.selectDropdown :global(.ant-select-item) {
  margin-top: 8px;
  margin-bottom: 8px;
}

.selectDropdown :global(.ant-select-item:not(:last-child)) {
  margin-bottom: 12px;
}

.selectDropdown {
  padding: 8px 0;
}

.ltsMessageContainer {
  width: 100%;
  background-color: $borderColor;
  padding: 16px 20px;
  border-radius: 12px;
}

.ltsMessageContainer p {
  color: $primaryTextColor;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
