@import '../../../../../../styles/text-colors.scss';
@import '../../../../../../styles/colors.scss';

.wrapper {
  color: $primaryTextColor;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.headline {
  color: $primaryTextColor;
  font-weight: 600;
  line-height: 24px;
}

.buttons {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  border-top: 1px solid $borderColor;
  padding: 16px 24px 24px 24px;
}

.container {
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.container input {
  flex: 1;
  padding: 12px;
  font-size: 14px;
  color: $primaryTextColor;
  border-radius: 8px;
  outline: none;
  border: 1px solid $borderColor;
}
