@import '../../styles/text-colors.scss';
@import '../../styles/colors.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  max-width: 638px;
  width: 100%;
}

.contentWrapperButtons {
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 350px;
  width: 100%;
}

.wrapper h1 {
  font-size: 24px;
  color: $primaryTextColor;
  font-weight: 600;
}

.buttons {
  max-width: 153px;
  width: 100%;
}

.requestbuttons {
  max-width: 169px;
  width: 100%;
}

.select {
  max-width: 216px;
  width: 100%;
  height: 48px;
}

.select :global(.ant-select-selector) {
  border: 1px solid $borderColor !important;
  box-shadow: none !important;
  border-radius: 12px !important;
}

.select :global(.ant-select-focused .ant-select-selector) {
  box-shadow: none !important;
  border-color: transparent !important;
}

.select :global .ant-select-selection-wrap {
  padding: 12px;
}
