@import '../../../../../../styles/text-colors.scss';
@import '../../../../../../styles/colors.scss';

.wrapper {
  border-radius: 12px;
  border: 1px solid $borderColor;  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 24px;
  gap: 80px;
}

.heading h2 {
  color: $primaryTextColor;
  font-size: 24px;
  font-weight: 600;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
