@import '../../../../styles/colors.scss';
@import '../../../../styles/text-colors.scss';

.header {
  width: 100%;
  display: flex;
  background-color: #f0f3f5;
  padding: 16px 24px;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px 12px 0 0;
  border-bottom: 1px solid $borderColor;
}

.header img {
  cursor: pointer;
}

.headline {
  color: $primaryTextColor;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.mainCaptionStyle {
  color: #11141a;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  display: block;
}

.exitButtonWrapper {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 7.5px;
  border: 1px solid $borderColor;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.bottomContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px 24px;
  background-color: white;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.buttonsWrapper {
  display: flex;
  gap: 16px;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  gap: 9px;
  background-color: white;
}

.mainCaptionStyle {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.mainWrapper {
  max-width: 840px;
  width: 100%;
}

.tableWrapper :global .ant-table th {
  background: #fff !important;
}

.tableWrapper :global .ant-table-cell::before {
  content: none !important;
}

.tableWrapper :global .ant-table-cell {
  padding-left: 4px !important;
  color: $primaryTextColor !important;
  font-weight: 500 !important;
}

.tableWrapper :global .ant-table-thead .ant-table-cell {
  color: $primaryTextColor !important;
  font-weight: 400 !important;
}

.tableWrapper :global .ant-table-selection-column {
  padding-left: 24px !important;
}

.tableWrapper {
  background-color: #fff;
}

.tableWrapper :global .ant-table-container {
  border-radius: 12px;
  overflow: hidden;
}

.tableWrapper :global .ant-checkbox-inner {
  background-color: #f0f3f5;
  border: none !important;
  width: 24px;
  height: 24px;
}

.tableWrapper :global .ant-checkbox-checked .ant-checkbox-inner {
  background-color: black;
  border: none !important;
}

.tableWrapper :global .ant-checkbox-inner::after {
  width: 7.1px !important;
  height: 12px !important;
}

.tableWrapper
  :global
  .ant-table-row
  .ant-checkbox-wrapper:active:hover
  .ant-checkbox-inner {
  background-color: black !important;
  border: none !important;
}

.tableWrapper
  :global
  .ant-table-thead:hover
  .ant-table-cell
  .ant-checkbox-wrapper
  .ant-checkbox-checked
  .ant-checkbox-inner {
  background-color: black !important;
  border: none !important;
}

.tableWrapper
  :global
  .ant-table-row:hover
  .ant-table-cell
  .ant-checkbox-wrapper
  .ant-checkbox-checked
  .ant-checkbox-inner {
  background-color: black !important;
  border: none !important;
}

.tableWrapper
  :global
  .ant-table-selection
  .ant-checkbox-wrapper
  .ant-checkbox
  .ant-checkbox-inner::after {
  background-color: transparent;
}

.tableWrapper
  :global
  .ant-table-thead
  tr
  .ant-table-cell
  .ant-table-selection
  .ant-checkbox-wrapper
  .ant-checkbox-indeterminate
  .ant-checkbox-inner {
  background-color: #f0f3f5 !important;
}

.tableWrapper
  :global
  .ant-table-wrapper
  .ant-table-tbody
  .ant-table-row.ant-table-row-selected
  > .ant-table-cell {
  background-color: #f0f3f5 !important;
}

.tableWrapper :global .ant-checkbox-indeterminate::after {
  background-color: transparent;
}

.tableWrapper :global .ant-checkbox-wrapper .ant-checkbox-indeterminate {
  background-color: #f0f3f5 !important;
}

.tableWrapper .ant-table-tbody .ant-table-row .ant-table-cell {
  color: $primaryTextColor !important;
}

.tableWrapper {
  width: 100%;
}

.middleHeader {
  padding: 24px 24px 0 24px;
}

.middleContainersMainCaption {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}
