@import '../../styles/text-colors.scss';
@import '../../styles/colors.scss';

.wrapper {
  border: 1px solid $borderColor;  border-radius: 12px;
  marg in: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content:last-child {
  border-bottom: none;
}

.container p {
  color: #707276;
  font-weight: 500;
}

.header {
  width: 100%;
  background-color: #f0f3f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.header p {
  color: $primaryTextColor;
  font-size: 20px;
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid $borderColor;  padding: 24px 24px 0 24px;
}

.content span {
  font-size: 20px;
  font-weight: 600;
  color: $primaryTextColor;
}

.textWrapper {
  max-width: 729px;
  width: 100%;
  height: 64px;
  padding: 24px;
}

.belowTextWrapper {
  max-width: 422px;
  width: 100%;
}

.tableWrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.tableWrapper img {
  cursor: pointer;
}

.tableWrapper p {
  color: $primaryTextColor;
}

.title {
  font-size: 14px !important;
  font-weight: 600;
}
