@import '../../../../../../../styles/text-colors.scss';
@import '../../../../../../../styles/colors.scss';

.wrapper p {
  color: #707276;
  line-height: 20px;
}

.container {
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  width: 100%;
  display: flex;
  background-color: #f0f3f5;
  padding: 16px 24px;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px 12px 0 0;
  border-bottom: 1px solid $borderColor;
}

.header img {
  cursor: pointer;
}

.headline {
  color: $primaryTextColor;
  font-weight: 600;
  line-height: 24px;
  font-size: 16px;
}

.buttons {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputContainer span {
  color: $primaryTextColor;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.checkContainer span {
  color: $primaryTextColor;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.inputContainer input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid $borderColor;
  outline: none;
  color: $primaryTextColor;
  font-size: 14px;
}

.checkbox :global(.ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner) {
  width: 24px;
  height: 24px;
  border: 1px solid $borderColor !important;
}

.checkbox
  :global(.ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner:hover) {
  border: 1px solid $borderColor !important;
  background-color: transparent !important;
}

.checkbox
  :global(.ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner) {
  background-color: black !important;
  border: none !important;
}

.checkbox
  :global(.ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner::after) {
  width: 7.1px !important;
  height: 12px !important;
}

.checkContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
