@import '../../../../../styles/colors.scss';
@import '../../../../../styles/shared-table.module.scss';
@import '../../../../../styles/text-colors.scss';

.topContainer {
  width: 100%;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $moduleBorderColor;
  border-left: 1px solid $moduleBorderColor;
  border-right: 1px solid $moduleBorderColor;
  border-radius: 8px 8px 0 0;
  background-color: $moduleTopContainerColor;
}

.groupWrapper {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid $borderColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomContainer {
  border-top: 1px solid $moduleBorderColor;
  padding: 16px 24px;
}

.mainContainer {
  margin-top: 24px;
}

.mainCaptionStyle {
  color: $primaryTextColor;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.furtherBottomContainer {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px;
  border-top: 1px solid $borderColor;
  gap: 16px;
}

.inputStyle {
  max-width: 792px;
  width: 100%;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid $moduleBorderColor;
}