.wrapper {
  flex: 1;
  border: 1px solid #dcdfe1;
  border-radius: 12px;
}

.header {
  padding: 16px 24px;
  background-color: #f0f3f5;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.header p {
  color: #11141a;
  font-size: 20px;
  font-weight: 700;
}

.container p {
  color: #707276;
  font-weight: 500;
  padding: 20px 0 0 24px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.githubContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dcdfe1;
  padding: 0 24px 24px 24px;
}

.gitLabContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 24px 24px 24px;
}
