@import '../../../../../styles/text-colors.scss';
@import '../../../../../styles/colors.scss';

.wrapper {
  max-width: 860px;
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f3f5;
  border-radius: 12px 12px 0 0;
  padding: 16px 24px;
  border-bottom: 1px solid $moduleBorderColor;
}

.header img {
  cursor: pointer;
}

.headline {
  color: $primaryTextColor;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 12px;
}

.contentWrapper p {
  color: $primaryTextColor;
  font-size: 14px;
  font-weight: 400;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0px 24px;
}

.steper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.steper {
  cursor: pointer;

  &.activeStep {
    color: black;
  }

  &.inactiveStep {
    color: gray;
  }

  .circle {
    &.activeCircle {
      background-color: black;
    }

    &.inactiveCircle {
      background-color: gray;
    }
  }

  .line {
    &.activeLine {
      background-color: black;
    }

    &.inactiveLine {
      background-color: gray;
    }
  }
}

.steper span {
  color: $primaryTextColor;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $primaryTextColor;
}

.grayCircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $borderColor;}

.line {
  max-width: 378px;
  width: 100%;
  border-radius: 12px;
  height: 5px;
  background-color: $primaryTextColor;
}

.lineCircle {
  max-width: 378px;
  width: 100%;
  border-radius: 12px;
  height: 5px;
  background-color: $borderColor;}

.progress {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.buttons {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  padding: 16px 24px 24px 24px;
  margin-top: 24px;
  border-top: 1px solid $moduleBorderColor;
}

.content span {
  color: $primaryTextColor;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  width: 100%;
}

.content {
  width: 100%;
}

.siteTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.siteTitleContainer input {
  height: 48px;
  border-radius: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid $borderColor;  outline: none;
}

.siteTitleContainer span {
  color: #6c6e72;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.check :global(.ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner) {
  border: none !important;
  width: 24px;
  height: 24px;
  background-color: #f0f3f5 !important;
}

.check
  :global(.ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner) {
  background-color: black !important;
  border: none !important;
}

.check :global(.ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner::after) {
  width: 7.1px !important;
  height: 12px !important;
}

.check {
  display: flex;
  align-items: center;
  gap: 12px;
}

.plugins {
  color: #707276;
  font-size: 12px;
  font-weight: 500;
}

.checkBoxContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 24px;
}

