@import '../../../../../../../../styles/text-colors.scss';
@import '../../../../../../../../styles/colors.scss';

.wrapper {
  border: 1px solid $borderColor;  max-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 0 24px 0;
  border-radius: 12px;
}

.quantify {
  font-size: 48px;
  font-weight: 600;
  color: $primaryColor;
}

.info {
  font-size: 16px;
  color: $primaryTextColor;
  font-weight: 600;
}
