@import '../../../../styles/text-colors.scss';
@import '../../../../styles/colors.scss';

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.wrapper {
  padding: 0 12px 24px 24px;
}

.lastChild {
  padding-top: 52px;
  padding-bottom: 80px;
}

.curlyPadding {
  padding-top: 52px;
}

.tablePadding {
  padding-top: 80px;
}

.barWrapper {
  padding-top: 36px;
}
