@import '../../../../styles/text-colors.scss';
@import '../../../../styles/colors.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper h1 {
  font-size: 24px;
  color: $primaryTextColor;
  font-weight: 600;
}

.wrapperContainer p {
  color: #707276;
  font-weight: 400;
}

.wrapperContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 353px;
  width: 100%;
  gap: 24px;
}

.progress {
  max-width: 136px;
  width: 100%;
}

.progress
  :global
  .ant-progress
  .ant-progress-outer
  .ant-progress-inner
  .ant-progress-bg {
  background-color: $primaryColor;
}

.progressContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 196px;
  width: 100%;
}

.progressContainer p {
  color: #707276;
  font-size: 14px;
  font-weight: 500;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px 24px;
  gap: 12px;
}
