.wrapper {
  border-radius: 24px;
  max-width: 520px;
  width: 100%;
  max-height: 464px;
  height: 100%;
  background-color: #fff;
  box-shadow: -4px 10px 18px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f3f5;
  border-radius: 12px 12px 0 0;
  padding: 16px 24px;
}

.headline {
  color: #11141a;
  font-weight: 600;
  line-height: 24px;
}

.headlineBelow {
  color: #707276;
  font-size: 14px;
  line-height: 24px;
}

.headerContainer {
  display: flex;
  flex-direction: column;
}

.close {
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.empty {
  padding: 16px 0;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  border-radius: 0 0 12px 12px;
  background-color: #f0f3f5;
}

.footer img {
  cursor: pointer;
}

.notification {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px 24px;
}

.notification:hover {
  background-color: #e6e7ea;
}

.notificationContainer {
  display: flex;
  flex-direction: column;
}

.timeAgo {
  color: #b5b7bf;
  font-size: 14px;
  line-height: 24px;
}

.arrow {
  display: flex;
  align-items: center;
  height: 100%;
}

.notificationText {
  line-height: 24px;
  color: #11141a;
  font-weight: 500;
}

.date {
  color: #707276;
  font-weight: 500;
}

.paginationWrapper :global .ant-pagination .ant-pagination-item-active {
  border: none !important;
}

.paginationWrapper :global a {
  color: #b5b7bf;
}

.paginationWrapper :global .ant-pagination .ant-pagination-item a {
  color: #b5b7bf !important;
}

.paginationWrapper :global .ant-pagination .ant-pagination-item {
  background-color: transparent !important;
}

.paginationWrapper :global .ant-pagination .ant-pagination-item:hover {
  background-color: #e7e7e8 !important;
}

.paginationWrapper :global .ant-pagination .ant-pagination-item-active a {
  color: #11141a !important;
}

.paginationWrapper :global .ant-pagination .ant-pagination-prev {
  margin-right: 0px !important;
}
