@import '../../../../../../../styles/text-colors.scss';
@import '../../../../../../../styles/colors.scss';

.wrapper {
  position: relative;
}

.container {
  border: 1px solid $borderColor;  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  max-width: 139px;
  width: 100%;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}

.container span {
  color: $primaryTextColor;
  font-weight: 500;
  line-height: 24px;
}

.liveContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #f0f3f5;
  border: 2px solid $borderColor;  padding: 16px;
  border-radius: 12px;
  position: absolute;
  z-index: 10;
  max-width: 139px;
  width: 100%;
  cursor: pointer;
}

.circle {
  background-color: $primaryColor;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.live {
  color: $primaryTextColor;
  font-weight: 600;
}
