@import '../../../styles/colors.scss';
@import '../../../styles/text-colors.scss';

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputWrapper {
  display: flex;
  gap: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

.inputContainer input {
  padding: 12px 14px;
  border-radius: 8px;
  outline: none;
  border: 1px solid $borderColor;
}

.inputContainer span {
  color: #707276;
  font-weight: 500;
  line-height: 24px;
}

.checkboxChecked {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkboxChecked span {
  color: $primaryColor;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.checkboxWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkboxContainer span {
  color: #545a67;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.checkboxUnChecked {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkboxUnChecked span {
  color: #545a67;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.checkbox :global(.ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner) {
  width: 20px;
  height: 20px;
  border: 1px solid $borderColor !important;
}

.checkbox
  :global(.ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner:hover) {
  border: 1px solid $borderColor !important;
  background-color: transparent !important;
}

.checkbox
  :global(.ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner) {
  background-color: black !important;
  border: none !important;
}

.passwordInput {
  padding: 11px 14px;
  border-radius: 8px;
  outline: none;
  border: 1px solid $borderColor;

  &:hover,
  &:focus,
  &:active,
  & {
    border: 1px solid $borderColor;
  }
}

.input {
  padding: 11px 14px;
  border-radius: 8px;
  outline: none;
  border: 1px solid $borderColor;
  box-shadow: none !important;

  &:hover,
  &:focus,
  &:active,
  & {
    border: 1px solid $borderColor;
  }
}

.input :global(.ant-input-affix-wrapper-focused) {
  border: 1px solid $borderColor !important;
  box-shadow: none !important;
}

.antInput :global(.ant-input-affix-wrapper-focused) {
  border: 1px solid $borderColor !important;
  box-shadow: none !important;
}

.submit {
  background-color: $primaryColor;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  line-height: 24px;
  font-size: 16px;
  cursor: pointer;
}
