@import '../../../../../../../../styles/text-colors.scss';
@import '../../../../../../../../styles/colors.scss';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding: 40px 24px 40px 24px;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid $borderColor;  cursor: pointer;
  max-width: 360px;
}

.active {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px;
  max-width: 360px;
  border-radius: 12px;
  border: 1px solid $primaryColor;
  cursor: pointer;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.info {
  white-space: nowrap;
  color: #6c6e72;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.title {
  white-space: nowrap;
  color: $primaryTextColor;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.none {
  display: none;
}

.paddedWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  padding-bottom: 80px;
}
