@import '../../../../styles/text-colors.scss';
@import '../../../../styles/colors.scss';

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid $borderColor;  border-radius: 12px;
}

.header {
  width: 100%;
  display: flex;
  padding: 16px 24px;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px 12px 0 0;
  border-bottom: 1px solid $borderColor;}

.headline {
  color: $primaryTextColor;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 16px 24px 24px 24px;
  width: 100%;
  max-width: 729px;
}

.title {
  color: $primaryTextColor;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.info {
  color: #707276;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 110px 0px 24px;
  border-right: 1px solid $borderColor;}

.text {
  color: #707276;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.boldText {
  color: $primaryTextColor;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
