@import '../../../../../../../styles/colors.scss';
@import '../../../../../../../styles/shared-table.module.scss';
@import '../../../../../../../styles/text-colors.scss';

.mainWrapper {
    display: flex;
    max-width: 738px;
    width: 100%;
    padding: 4px 12px;
    border: 1px solid $borderColor;
    height: 40px;
    border-radius: 8px;
    flex-direction: column;
    gap: 8px;
}

.inputStyle {
    border: 0px;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    outline: none;
}

.iconsWrapper {
    display: flex;
    gap: 16px;
    align-items: center;
}

.innerWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
}

.mainContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
    margin-right: 24px;
}

.captionStyle {
    color: $primaryTextColor;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.iconsWrapper img {
    cursor: pointer;
}