.header {
  padding: 16px 24px;
  background-color: #f0f3f5;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header p {
  color: #11141a;
  font-size: 20px;
  font-weight: 700;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px;
}

.wrapper {
  border: 1px solid #dcdfe1;
  margin: 24px;
  border-radius: 12px;
}
