@import '../../../../styles/text-colors.scss';
@import '../../../../styles/colors.scss';

.tableWrapper :global .ant-table th {
  background: #fff !important;
}

.tableWrapper :global .ant-table-cell::before {
  content: none !important;
}

.tableWrapper :global .ant-table-cell {
  padding-left: 4px !important;
  color: $primaryTextColor !important;
  font-weight: 500 !important;
}

.tableWrapper :global .ant-table-thead .ant-table-cell {
  color: $primaryTextColor !important;
  font-weight: 500 !important;
  font-size: 16px;
}

.tableWrapper :global .ant-table-tbody .ant-table-row .ant-table-cell {
  color: #707276 !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}

.tableWrapper
  :global
  .ant-table-tbody
  .ant-table-row
  .ant-table-cell:nth-child(2){
  color: $primaryTextColor !important;
  font-weight: 500 !important;
}

.tableWrapper :global .ant-table-selection-column {
  padding-left: 24px !important;
}

.tableWrapper {
  background-color: #fff;
}

.tableWrapper :global .ant-table-container {
  border: 1px solid $borderColor;
  border-radius: 12px;
  overflow: hidden;
}

.tableWrapper :global .ant-checkbox-inner {
  background-color: #f0f3f5;
  border: none !important;
  width: 24px;
  height: 24px;
}

.tableWrapper :global .ant-checkbox-checked .ant-checkbox-inner {
  background-color: black;
  border: none !important;
}

.tableWrapper :global .ant-checkbox-inner::after {
  width: 7.1px !important;
  height: 12px !important;
}

.tableWrapper
  :global
  .ant-table-row
  .ant-checkbox-wrapper:active:hover
  .ant-checkbox-inner {
  background-color: black !important;
  border: none !important;
}

.tableWrapper
  :global
  .ant-table-thead:hover
  .ant-table-cell
  .ant-checkbox-wrapper
  .ant-checkbox-checked
  .ant-checkbox-inner {
  background-color: black !important;
  border: none !important;
}

.tableWrapper
  :global
  .ant-table-row:hover
  .ant-table-cell
  .ant-checkbox-wrapper
  .ant-checkbox-checked
  .ant-checkbox-inner {
  background-color: black !important;
  border: none !important;
}

.tableWrapper
  :global
  .ant-table-selection
  .ant-checkbox-wrapper
  .ant-checkbox
  .ant-checkbox-inner::after {
  background-color: transparent;
}

.tableWrapper
  :global
  .ant-table-thead
  tr
  .ant-table-cell
  .ant-table-selection
  .ant-checkbox-wrapper
  .ant-checkbox-indeterminate
  .ant-checkbox-inner {
  background-color: #f0f3f5 !important;
}

.tableWrapper
  :global
  .ant-table-wrapper
  .ant-table-tbody
  .ant-table-row.ant-table-row-selected
  > .ant-table-cell {
  background-color: #f0f3f5 !important;
}

.tableWrapper :global .ant-checkbox-indeterminate::after {
  background-color: transparent;
}

.tableWrapper :global .ant-checkbox-wrapper .ant-checkbox-indeterminate {
  background-color: #f0f3f5 !important;
}

.tableWrapper {
  width: 100%;
}

.activeStatus {
  color: #2be437;
  font-size: 14px;
  font-weight: 500;
}

.inactiveStatus {
  color: #ff0003;
  font-size: 14px;
  font-weight: 500;
}
.paidStatus {
  display: flex !important;
  align-items: center !important;
  padding: 2px 6px !important;
  background-color: #ecfdf3 !important;
  color: #067647 !important;
  border: 1px solid #abefc6 !important;
  border-radius: 12px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  gap: 2px;
  width: fit-content;
}

.unpaidStatus {
  display: flex !important;
  align-items: center !important;
  padding: 2px 12px 2px 8px !important;
  background-color: #ffebeb !important;
  color: #ff0003 !important;
  border-radius: 12px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  border: 1px solid #ff0003;
  gap: 8px;
  width: fit-content;
}

.pdf {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.statusTag {
  margin-right: 6px !important;
  font-size: 18px !important;
  color: #52c41a !important;
}

.greenDot,
.redDot {
  display: inline-block;
  align-self: center;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.greenDot {
  background-color: #2be437;
}

.redDot {
  background-color: #ff0003;
}

.status {
  position: relative;
  bottom: 1px;
}

.dotsWrapper {
  border-radius: 4px;
  border: 1px solid $borderColor;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
