@import '../../styles/text-colors.scss';
@import '../../styles/colors.scss';

.container {
  display: flex;
  width: 100%;
  max-width: 311px;
  padding: 8px 12px 8px 16px;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid $borderColor;
  background-color: #fff;
  align-items: center;
}

.container img {
  cursor: pointer;
}

.padded {
  padding-top: 12px;
  padding-bottom: 12px;
}

.input {
  color: $primaryColor;
  border: none;
  background-color: #fff;
  outline: none;
  width: 100%;
  padding-left: 8px;
}

.input::-webkit-search-cancel-button {
  appearance: none;
  -webkit-appearance: none;
}

.input::placeholder {
  color: #b5b7bf;
}

.command {
  background-color: #f0f3f5;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 8px;
  cursor: pointer;
}

.command span {
  color: #717680;
  font-weight: 600;
  line-height: 18px;
}

.symbol {
  font-size: 14px;
}
