@import '../../../../../../../styles/colors.scss';
@import '../../../../../../../styles/text-colors.scss';

.containerWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 12px 24px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.buttons {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}
