@import '../../../styles/text-colors.scss';
@import '../../../styles/colors.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 24px 0 24px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container h1 {
  color: $primaryTextColor;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.users {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: center;
}